@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@600&display=swap");

* {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1f242d;
  color:#fff;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  aling-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity:0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display:inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  opacity:0;
  animation: slideTop .5s ease forwards;
  animation-delay:calc(.2s * var(--i))
}
.navbar a:hover,
.navbar a.active{
  color:#0ef;
}
.i-1 {
  --i: 1;
}
.i-2 {
  --i: 2;
}/* KEYFRAMES ANIMATION*/
.i-3 {
  --i: 3;
}
.i-4 {
  --i: 4;
}
.i-5 {
  --i: 5;
}
@keyframes slideRight{
  0%{
    transform:translateX(-100px);
    opacity:0;
  }
  100%{
    transform:translateX(0);
    opacity:1;
  }
}
@keyframes slideTop{
  0%{
    transform:translateY(-100px);
    opacity:0;
  }
  100%{
    transform:translateY(0);
    opacity:1;
  }
}